@font-face {
	font-family: 'SFNSText Bold';
	src: url('./Assets/fonts/San Francisco/otf/SFNSText-Bold.otf');
}
@font-face {
	font-family: 'SFNSText Regular';
	src: url('./Assets/fonts/San Francisco/otf/SFNSText-Light.otf');
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
	--hero-background-color: #f8f8f1;
	--btn-color: #f57f42;
	--main-font-color: #000000;
	--bold-font: 'SFNSText Bold';
	--main-font: 'SFNSText Regular';
	--container-width: 126rem;
	--num-of-grid-columns: 4;
	--footer-grid-columns: 6;
	--num-of-s2-grid-columns: 4;
	--off-white-clr: #fff;
	--main-modal-bg-color: #000000;
}
html {
	scroll-behavior: smooth;
}
body {
	font-family: var(--main-font);
}
a,a:link,a:visited,a:hover,a:active{
	text-decoration: none;
	display: inline-block;
	color: black;
}
.nav-link{
	color:black;
}
p {
	line-height: 1.5;
	font-weight: 500;
}
img {
	max-width: 100%;
	display: block;
}
section {
	padding: 4rem 0 4rem 0;
}
.check-size {
	font-size: 1.3rem;
	color: green;
	margin: 0.5rem 0;
}
.container {
	max-width: var(--container-width);
	width: 80%;
	margin: auto;
}
.mobile-toggle i{
	font-size:2rem;
	color:var(--btn-color);
}
/*hero*/
.main-logo {
	height: 50px;
	margin: auto;
}
.check {
	display: inline-block;
}
#close{
	display: none;
	margin-left: 80%;
    margin-top: 10%;
    font-size: 2rem;
	color:var(--btn-color);
}

.row {
	display: grid;
	grid-template-columns: repeat(var(--num-of-grid-columns), 1fr);
	grid-gap: 2rem;
}
.grid-image {
	grid-column: span 4;
}
.title-group {
	grid-column: span 4;
}
.hero {
	padding: 0 0 4rem 0;
	background-color: var(--hero-background-color);
}
.main-header {
	height: 4rem;
	padding: 2.5rem 2rem;
}
.main-nav {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
li{
	list-style-type: none;
}
.nav-list {
	display: block;
	position: fixed;
	top:0%;
	left:100%;
	width: 80%;

	height:100%;
	z-index:1500;
	opacity: 1;
	margin:auto;
	background-color: var(--off-white-clr);
	border-radius: 1rem 0 0 1rem;
	transition: all 650ms ease-in-out;
}
.nav-list.active{
	left:20%;
}
.nav-item{
	text-align: center;
}
.nav-item a{
	padding:2rem;
	color:var(--btn-color);
}
.nav-items-right > div {
	display: none;
}
.hero-btn-grp {
	text-align: center;
}
.close-container{
	height:3rem;
}

.hero-btn {
	background-color: var(--btn-color);
	width: 100%;
	padding: 20px;
	border-radius: 0.5rem;
	margin-top: 1rem;
	color: var(--off-white-clr);
	font-size: 1rem;
}
.title-group h2 {
	font-family: var(--bold-font);
	font-size: 1.6rem;
	font-weight: 800;
	margin-bottom: 1rem;
}
.title-group p {
	font-size: 1rem;
	margin-bottom: 1rem;
	line-height: 1.5;
	
}
.hero-example-btn {
	margin: 1rem;
	color: var(--btn-color);
	border-bottom: 1px solid var(--btn-color);
	font-size: 1rem;
	font-weight: 800;
}
/*section2*/
.s2-tcolor {
	color: var(--btn-color);
	font-family: var(--bold-font);
}
.s2-grid {
	display: grid;
	margin-top: 3rem;
	grid-template-columns: repeat(var(--num-of-s2-grid-columns), 1fr);
	grid-gap: 2rem;
}
.s2-block {
	grid-column: span 4;
}
.s2-grid-img {
	margin-bottom: 1rem;
}
.s2-grid-title {
	margin-bottom: 1rem;
	font-family: var(--bold-font);
	font-size: 1rem;
	font-weight: 800;
}
.s2-grid-text {
	font-size: 1rem;
	font-weight: 100;
	line-height: 1.4;
}
/*section 3*/
.section-3 {
	padding: 3rem 0 0 0;
	background-color: #f9a33d;
	color: #000;
	border-radius: 1rem;
	margin-bottom: 2rem;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.s3-button {
	text-align: center;
	width: 100%;
	padding: 15px;
	border-radius: 0.5rem;
	margin-top: 1rem;
	color: var(--btn-color);
	font-size: 1rem;
	font-weight: 800;
	background-color: var(--off-white-clr);
}
.s3-grid {
	display: grid;
	grid-template-columns: repeat(var(--num-of-grid-columns), 1fr);
	grid-gap: 4rem;
}
.s3-grid-item {
	grid-column: span 4;
}
.s3-img {
	width: 300px;
	height: 300px;
	object-fit: cover;
	border-radius: 1rem 1rem 0 0;
}
.s3-container {
	width: 80%;
	margin: auto;
}
/*section 4*/
.s4-name {
	line-height: 1.4;
	margin-left: 1rem;
}
.s4-grid {
	display: grid;
	grid-gap: 2rem;
	grid-template-columns: repeat(var(--num-of-s2-grid-columns), 1fr);
	margin-top: 2rem;
}

.s4-img-grid {
	display: grid;
	grid-template-columns: 25% 75%;
	line-height: 1rem;
	color: var(--off-white-clr);
}
.s4-img-grid > img {
	font: 1rem;
	grid-column: span 1;
}
.s4-grid-item > * {
	margin: 1rem;
}
.s4-grid-item {
	grid-column: span 4;
	border-radius: 0.4rem;
	border: 1px solid grey;
	padding: 1rem;
}
.s4-button {
	border: 1px solid grey;
	padding: 1rem;
	text-align: center;
	color: var(--btn-color);
	font-family: var(--bold-font);
	font-size: 1rem;
	font-weight: 800;
	border-radius: 0.4rem;
}

/*footer*/
.main-footer {
	background-color: var(--hero-background-color);
	padding: 4rem 0 4rem 0;
}
.footer-grid {
	display: grid;
	grid-gap: 2rem;
	grid-template-columns: repeat(var(--footer-grid-columns), 1fr);
}
.footer-grid-item {
	/* grid-column: span 6; */
}
.footer-group > h3 {
	font-family: var(--bold-font);
	font-size: 1.5rem;
	font-weight: 800;
	margin-bottom: 1rem;
}
.footer-group > p {
	font-size: 1rem;
	margin-bottom: 1rem;
	line-height: 1.6;
}
.grid1 {
	grid-column: 1/2;
	text-align: center;
}
.logo {
	height: 90px;
	margin: auto;
}
.social-links > a > i {
	font-size: 2rem;
	color: var(--btn-color);
}
.social-links > a {
	padding: 1rem;
}
.social-links a i:hover {
	color: var(--off-white-clr);
}
.contact-input {
	margin: 2rem 0;
	position: relative;
}
.contact-input i {
	position: absolute;
	right: 5%;
	font-size: 2rem;
	top: 15%;
	color: var(--btn-color);
}
.contact-input > input {
	padding: 0.8rem;
	width: 100%;
}
/*gallery*/
.gallery-grid {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-gap: 2rem;
	justify-content: center;
	align-items: center;
}
.gallery-text,
.gallery-slide {
	grid-column: span 6;
}
.gallery-text {
	
}
.padding {
	padding: 1rem;
	border-left: 1px solid white;
	color: var(--off-white-clr);
}
.facebook {
	background-color: #3b5998;
}
.twitter {
	background-color: #307fe3;
}
.instagram {
	background: linear-gradient(
		45deg,
		#f09433 0%,
		#e6683c 25%,
		#dc2743 50%,
		#cc2366 75%,
		#bc1888 100%
	);
}

/*.......*/
/*Business*/
/*........*/

.business-img {
	background-color: #000;
	position: relative;
	transition: 0.4s ease-out;
}
.business-img:hover,
.business-img:focus {
	-webkit-transform: translateY(20px);
	transform: translateY(20px);
}
.hover-content {
	position: absolute;
	top: 0%;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: 0.5s ease;
	background-color: #000;
	z-index: 500;
}
.business-img:hover .hover-content {
	opacity: 0.7;
}
/*modal start*/
.business-header{
	position: relative;
}
.business-brandPopup {
	height: 100%;
	width: 0%;
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
	background-color: var(--main-modal-bg-color);
	opacity: 0.9;
	overflow-x: hidden;
	transition: 0.5s;
}

.business-brandPopup-content {
	position: relative;
	top: 25%;
	width: 80%;
	margin:auto;
	
	margin-top: 30px;
	color: white;
}
.business-brandPopup-content h2{
	margin-bottom:2rem;
	text-transform: uppercase;
	color:var(--btn-color);
	text-align: center;
}
.business-brandPopup-content p{

	text-align: center;
}
.business-brandPopup a {
	padding: 8px;
	text-decoration: none;
	font-size: 36px;
	color: white;
	display: block;
	transition: 0.3s;
	margin-bottom: 1.4rem;
}

.business-brandPopup a:hover,
.business-brandPopup a:focus {
	color: white;
}

.business-brandPopup-closebtn {
	position: absolute;
	cursor: pointer;
	top: 20px;
	right: 45px;
	font-size: 60px;
}
/*modale ends*/
.hover-content h3 {
	font-size: 1.2rem;
	color: #fff;
	position: absolute;
	top: 60%;
	left: 15%;
}
.hover-content button {
	font-size: 1.3rem;
	padding: 0.5rem;
	border-radius: 0.4rem;
	color: black;
	background-color: #fff;
	position: absolute;
	top: 75%;
	left: 15%;
}
.center {
	place-items: center;
}
.business-grid {
	display: grid;
	grid-gap: 2rem;
	grid-template-columns: repeat(var(--num-of-s2-grid-columns), 1fr);
	margin-top: 2rem;
}

.business-grid-item > * {
	margin: 0.5rem;
}
.business-grid-item {
	grid-column: span 4;
}

.video-container {
	width: 100%;
}

.video-banner-section .business-video-banner {
	position: relative;
	top:0;
	bottom:0;
	left:0;
	right:0;
	width: 100%;
	height: 100vh;
	display: flex;
	overflow: hidden;
}

.video-banner-section .business-video-banner h1 {
	z-index: 1;
	align-content: right;
	font-size: 2em;
	margin: 5%;
	height: fit-content;
	position: relative;
	max-width: 500px;
	top: 45vh;
}

.video-banner-section .business-color-overlay {
	position: absolute;
	background-color: black;
	background: url(http://s14.directupload.net/images/111129/44ga9qid.png);
	width: 100%;
	height: 100vh;
	opacity: 0.4;
}

.video-banner-section .business-video-container {
	position: absolute;
}

.video-banner-section .business-arrow {
	position: absolute;
	top: 85%;
	left: 90%;
	transform: translate(-50%, -50%);
}

.video-banner-section .business-arrow span {
	display: block;
	width: 25px;
	height: 25px;
	border-bottom: 5px solid #fff;
	border-right: 5px solid #fff;
	transform: rotate(45deg);
	margin: -10px;
	animation: animate 2s infinite;
}

.video-banner-section .business-arrow span:nth-child(2) {
	animation-delay: -0.2s;
}

.video-banner-section .business-arrow span:nth-child(3) {
	animation-delay: -0.4s;
}

.video-banner-section .business-arrow span:nth-child(4) {
	animation-delay: -0.6s;
}
/*..........*/
/*aboutus...*/
/*..........*/

.team-grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.team-grid-item {
	border: 5px solid var(--btn-color);
	padding: 0.2rem;
	border-radius: 0.3rem;
	margin: 1rem;
	position: relative;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.team-card {
	position: relative;
	overflow: hidden;
	z-index: 400;
}
.team-hover {
	position: absolute;
	bottom: -50px;
	left: 0;
	right: 0;
	height: 40%;
	width: 100%;
	text-align: center;
	background-color: rgba(245, 127, 66, 0.75);
	z-index: 500;
	transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.team-card > * {
	color: white;
}
.team-card h3 {
	margin-top: 1.2rem;
}
.team-card p {
	margin-top: 0.3rem;
}

.team-card .hidden {
	margin-top: 0.5rem;
}

.team-card:hover .team-hover,
.team-card:focus .team-hover {
	bottom: 0;
}

.hidden h4 a{
	color:white;
}
.hidden p a{
	color:white;
}

.career-section {
	background-color: white;
}

#career-modal {
	width: 400px;
	height: 400px;
	perspective: 1000px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	background-color: #ddd;
	text-align: center;
	position: fixed;
	margin-left: 30%;
	margin-top: 10%;
	display: none;
	z-index: 10;
	top: 10%;
}

.career-modal-closebtn {
	position: absolute;
	top: 20px;
	right: 45px;
	font-size: 60px;
	color: cornsilk;
}

.career-modal-closebtn:hover,
.career-modal-closebtn:focus {
	color: #333;
	cursor: pointer;
}

.modal-buttons {
	display: flex;
	margin-top: 90%;
}

.modal-buttons button {
	padding: 0.8rem;
	outline: none;
	border: none;
	background: white;
	color: black;
	font-weight: bold;
	cursor: pointer;
	width: 50%;
}

.modal-buttons button:hover,
.modal-buttons button:focus {
	background: dodgerblue;
	color: white;
}

.grid-container {
	display: flex;
	flex-direction: column;
	/* grid-template-columns: 0.3fr 1fr; */
	/* grid-template-columns: repeat(auto-fill,minmax(320px,1fr)); */
}

.grid-b {
	/* display: flex; */
	/* flex-grow: 1; */
	/* align-self: start; */
	/* margin: auto; */
	padding: 10px;
	width: 100%;
}

.grid-a {
	/* margin-left: 40px; */
	width: 100%;
	text-align: center;
}

.collapsable-group {
	display: none;
}

.collapse-toggle {
	display: block !important;
}

.collapsible {
	background-color: var(--btn-color);
	color: white;
	cursor: pointer;
	padding: 18px;
	width: 90%;
	/* margin-left: 5%;
  margin-right: 5%; */
	border: none;
	outline: none;
	font-size: 20px;
}

.collapsible-active,
.collapsible:hover {
	background-color: #e27e07;
}

.collapsible:after {
	content: '\002B';
	color: white;
	font-weight: bold;
	float: right;
	/* margin-left: 5px; */
}

.collapsible-active:after {
	content: '\2212';
}

.collapsecontent {
	width: 90%;
	text-align: left;
	/* padding: 0 18px; */
	padding-top: 10px;
	font-size: 0.9rem;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
	background-color: transparent;
	color: black;
}

.list {
	padding: 0.5rem 1rem;
	margin: 0.5rem 1.5rem 0.5rem;
	border-left: 0.1875rem solid #16a085;
}

.list__item {
	list-style-type: none;
	margin: 0 0 0.5rem 0;
	padding: 0;
}

.label--checkbox,
.label--radio {
	position: relative;
	margin: 0.5rem;
	font-family: Arial, sans-serif;
	line-height: 135%;
	cursor: pointer;
}

.checkbox {
	position: relative;
	top: -0.05rem;
	margin: 0 1rem 0 0;
	cursor: pointer;
}

.checkbox:before {
	-webkit-transition: -webkit-transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
	-moz-transition: -moz-transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
	transition: transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
	-webkit-transform: rotate(-45deg) scale(0, 0);
	-moz-transform: rotate(-45deg) scale(0, 0);
	-ms-transform: rotate(-45deg) scale(0, 0);
	-o-transform: rotate(-45deg) scale(0, 0);
	transform: rotate(-45deg) scale(0, 0);
	content: '';
	position: absolute;
	left: 0.1875rem;
	top: 0.125rem;
	z-index: 1;
	width: 0.75rem;
	height: 0.375rem;
	border: 2px solid #16a085;
	border-top-style: none;
	border-right-style: none;
}

.checkbox:checked:before {
	-webkit-transform: rotate(-45deg) scale(1, 1);
	-moz-transform: rotate(-45deg) scale(1, 1);
	-ms-transform: rotate(-45deg) scale(1, 1);
	-o-transform: rotate(-45deg) scale(1, 1);
	transform: rotate(-45deg) scale(1, 1);
}

.checkbox:after {
	content: '';
	position: absolute;
	top: -0.125rem;
	left: 0;
	width: 1rem;
	height: 1rem;
	background: #fff;
	border: 2px solid #f2f2f2;
	cursor: pointer;
}

.radio {
	position: relative;
	margin: 0 1rem 0 0;
	cursor: pointer;
}

.radio:before {
	-webkit-transition: -webkit-transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
	-moz-transition: -moz-transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
	transition: transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
	-webkit-transform: scale(0, 0);
	-moz-transform: scale(0, 0);
	-ms-transform: scale(0, 0);
	-o-transform: scale(0, 0);
	transform: scale(0, 0);
	content: '';
	position: absolute;
	top: 0;
	left: 0.125rem;
	z-index: 1;
	width: 0.75rem;
	height: 0.75rem;
	background: #16a085;
	border-radius: 50%;
}

.radio:checked:before {
	-webkit-transform: scale(1, 1);
	-moz-transform: scale(1, 1);
	-ms-transform: scale(1, 1);
	-o-transform: scale(1, 1);
	transform: scale(1, 1);
}

.radio:after {
	content: '';
	position: absolute;
	top: -0.13rem;
	/* left: -0.001rem; */
	width: 1rem;
	height: 1rem;
	background: #fff;
	border: 2px solid #f2f2f2;
	border-radius: 50%;
}

.career-card-container {
	/* margin: auto; */
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	display: flex;
	flex-grow: 1;
	flex-shrink: 1;
	flex-direction: column;
}

.filter-text {
	color: var(--main-logo-orange-color);
	text-align: center;
	text-transform: uppercase;
	padding-bottom: 2vh;
	display: flex;
	justify-content: center;
}

.career-card {
	/* height: 10rem; */
	margin-bottom: 1em;
	-webkit-box-flex: 1;
	flex: 0 1 auto;
	display: -webkit-box;
	display: flex;

	background-color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.career-card img {
	/* height: 100%; */
	max-width: 10em;
	-o-object-fit: cover;
	object-fit: cover;
	-webkit-box-flex: 1;
	flex: 1 1 auto;
}

.career-card-body {
	width: 6rem;
	max-height: 100%;
	-webkit-box-flex: 1;
	flex: 1 1 auto;
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-flow: column nowrap;
	-webkit-box-pack: start;
	justify-content: flex-start;
	padding: 1rem;
}

.career-card-body button {
	width: 100%;
	-webkit-box-flex: 0;
	flex: none;
	align-self: flex-start;
	margin-top: auto;
	padding: 0.6em 1.2em;
	font-size: 0.6rem;
	color: #404646;
	background: none;
	border: 0.5px solid #777;
	border-radius: 2px;
}

.career-card-body button:hover {
	border-color: #d099a0;
}
.career-btn-grp > button {
	margin: 2% auto;
}
.career-card-text {
	position: relative;
	-webkit-box-flex: 1;
	flex: 1;
	overflow: hidden;
	text-overflow: ellipsis;
	margin: 0 0 0.8em 0;
	padding: 0;
}

.career-card-text h4,
.card-text p {
	font-size: 0.7rem;
	margin-top: 0;
}

.career-card-text:after {
	position: absolute;
	bottom: 0;
	content: '';
	width: 100%;
	height: 2.8em;
	background: -webkit-gradient(
		linear,
		left top,
		left bottom,
		from(rgba(255, 255, 255, 0)),
		to(white)
	);
	background: linear-gradient(rgba(255, 255, 255, 0), white);
}

.cc-text {
	text-align: center;
}
.career-container {
	width: 90%;
	margin: auto;
}
/*modal*/
.modal {
	display: none;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: fixed;
	width: 100%;
	padding: 35px;
	background-color: transparent;
	height: fit-content;
	z-index: 11;
	border-radius: 60px;
	color: white;
}
.overlay {
	display: none;
	content: '';
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
	background-color: rgba(0, 0, 0, 0.9);
}

.modal-title {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 2px solid var(--main-logo-orange-color);
	margin-bottom: 20px;
}
.modal-title h1 {
	font-size: 30px;
}
.modal-content p {
	padding: 1rem;
}

.modal-closebtn {
	padding: 8px;
	text-decoration: none;
	font-size: 56px;
	color: #818181;
	display: block;
	transition: 0.3s;
}

.modal-closebtn:hover,
.modal-closebtn:focus {
	color: #f1f1f1;
}
.collapsable-group {
	display: block;
}
.radio:before {
	width: 0.65rem;
	height: 0.65rem;
}
.modal {
	width: 30vw;
	padding: 50px;
}
.modal-title h1 {
	font-size: 20px;
}
.resume-upload {
	margin-left: 20px;
	font-size: 15px;
}
.job-apply {
	margin: 10px 0 20px 0;
	height: 40px;
	font-size: 20px;
}
.job-apply::placeholder {
	font-size: 15px;
	top: 50%;
	transform: translateY(-20%);
}
.apply-submit {
	width: 10vh;
	display: block;
	margin: 20px auto auto;
	font-size: 18px;
}
.job-apply-text {
	font-size: 18px;
}
.no-jobs-available {
	margin: auto;
}

/*founder*/

.founder-grid{
	display: grid;
	grid-template-columns: repeat(4,1fr);
	grid-gap:2rem;
	padding:1rem ;
	margin:2rem 0;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	place-items: center;

}
.founder-grid img{
	grid-column: span 4;
}
.founder-grid div{
	grid-column: span 4;
}
.founder-grid div h2{
	margin-bottom: 1rem;
}
@media screen and (min-width: 768px) {
	:root {
		--hero-background-color: #f8f8f1;
		--btn-color: #f57f42;
		--main-font-color: #000000;
		--bold-font: 'SFNSText Bold';
		--main-font: 'SFNSText Regular';
		--container-width: 126rem;
		--num-of-grid-columns: 8;
		--off-white-clr: #fff;
		--num-of-s2-grid-columns: 12;
	}
	
	.business-brandPopup-content p{
	
		text-align: left;
	}
	.main-header {
		height: 4rem;
		padding: 4rem 4rem;
	}
	.main-logo {
		height: 70px;
		margin: auto;
	}
	.row {
		margin-top: 3rem;
	}
	.row .grid-image {
		order: 2;
	}
	.row .title-group {
		order: 1;
		margin-top: 7rem;
	}
	.title-group h2 {
		font-family: var(--bold-font);
		font-size: 3rem;
		font-weight: 800;
		margin-bottom: 1rem;
	}
	.grid1 {
		grid-column: span 3;
	}
	.contact-input > input {
		padding: 0.8rem;
		width: 60%;
	}
	.contact-input i {
		position: absolute;
		right: 25%;
		font-size: 2rem;
		top: 15%;
		color: var(--btn-color);
	}
	.title-group p {
		font-size: 1rem;
		margin-bottom: 1rem;
		line-height: 1.5;
	}
	.hero-btn {
		background-color: var(--btn-color);
		width: 40%;
		text-align: center;
		padding: 20px;
		border-radius: 0.5rem;
		margin-top: 1rem;
		color: var(--off-white-clr);
		font-size: 1rem;
	}
	.hero-btn-grp {
		text-align: left;
		margin-bottom: 1.5rem;
	}
	.check {
		display: flex;
	}
	.check > div {
		padding-right: 1rem;
	}
	.s3-button {
		text-align: center;
		width: 40%;
	}
	.s3-img {
		width: 600px;
		height: 300px;
		object-fit: cover;
		border-radius: 1rem 1rem 0 0;
	}
	.nav-list {
		display: flex;
		list-style: none;
		justify-content: space-around;
		margin: auto;
		width: 100%;
		left:0;
		top:1%;
		background-color: transparent;
		transition :none;
	}
	.nav-item a{
		color:black;
	}
	.nav-list > li {
		padding: 0 2rem 0 2rem;
		font-family: var(--main-font);
		font-size: 1rem;
		font-weight: 800;
		color: #000000;
	}
	.mobile-toggle, .nav-items-right , #close  {
		display: none;
	}
	.nav-items-right > div {
		display: inline;
		font-family: var(--main-font);
		font-size: 1rem;
		padding: 0 1rem 0 1rem;
		font-weight: 800;
	}
	.sign-btn {
		padding: 0.8rem;
		background-color: var(--btn-color);
		color: var(--off-white-clr);
		border-radius: 3rem;
	}
	.gallery-text {
		grid-column: span 3;
	}
	.gallery-slide {
		grid-column: span 3;
	}
	.slider-img {
		height: 300px;
	}
	.order1 {
		order: 2;
	}
	.order2 {
		order: 1;
	}
	.team-img {
		height: 300px;
		width: 200px;
		margin: auto;
	}
	/*business*/
	.business-grid-item {
		grid-column: span 3;
		border-radius: 0.4rem;
	}
	.team-grid-item {
		grid-column: span 1;
	}
	.team-grid-item {
		flex: 0 0 calc(22.66% - 20px);
		border: 5px solid var(--btn-color);
		border-radius: 0.3rem;
		margin: 1rem;
	}
	.team-card h3 {
		font-size: 0.8rem;
		/* margin-top: 1rem; */
	}
	.team-card p {
		/* margin-top: 2rem; */
		font-size: 0.6rem;
	}

	.hidden:hover {
		display: block;
	}
	.team-card .hidden h4 {
		/* margin-top: 3rem; */
		font-size: 0.6rem;
	}
	.team-card .hidden p {
		/* margin-top: 4rem; */
	}

	/*MODAL*/
	.grid-a{
		width: 50%;
	  }
	  .grid-container{
		flex-direction: row;
	  }
	
	  .career-card{
		display: flex;
		width: 80%;
	  }
	  .career-card-body{
		width: 200px;
	  }
	  .filter-text i{
		display: none;
	  }
	  .collapsable-group{
		display: block;
	  }
	  .radio:before {
		width: 0.65rem;
		height: 0.65rem;
	  }
	  .modal{
		width:30vw;
	  padding: 50px;
	  }
	  .modal-title h1{
		font-size: 40px;
	  }
	  .resume-upload{
		margin-left: 20px;
		font-size: 15px;
	  }
	  .job-apply{
		margin: 10px 0 20px 0;
		height: 40px;
		font-size: 20px;
	  }
	  .job-apply::placeholder{
		font-size: 15px;
		top: 50%;
		transform: translateY(-20%);
	  }
	  .apply-submit{
		width: 20vh;
		display: block;
	   margin: 20px auto auto;
		font-size: 18px;
	
	  }
	  .job-apply-text{
		font-size: 18px;
	  }
	  .no-jobs-available{
		margin: auto;
	  }
	  .founder-grid img{
		grid-column: span 2;
		height:350px;
	}
	.founder-grid div{
		grid-column: span 2;
		padding: 3rem;
	}
	.founder-grid{	
		box-shadow:none;
	}
	.business-brandPopup-content {
		width: 60%;	
	}
}

@media screen and (max-width: 768px) {
	.footer-grid-item {
		grid-column: span 6;
	}
}

@media screen and (min-width: 1024px) {
	
	.team-card h3 {
		/* margin-top: 1.5rem; */
		font-size: 1.2rem;
	}
	.team-card p {
		/* margin-top: 3rem; */
		font-size: 1rem;
	}

	.team-card .hidden h4 {
		/* margin-top: 4.5rem; */
		font-size: 1rem;
	}
	.team-card .hidden p {
		/* margin-top: 6rem; */
		font-size: 1rem;
	}

	.grid-a {
		width: 50%;
	}
	.grid-container {
		flex-direction: row;
	}

	.career-card {
		display: flex;
		width: 80%;
	}
	.career-card-body {
		width: 200px;
	}
	.filter-text i {
		display: none;
	}
	.collapsable-group {
		display: block;
	}
	.radio:before {
		width: 0.65rem;
		height: 0.65rem;
	}
	.modal {
		width: 30vw;
		padding: 50px;
	}
	.modal-title h1 {
		font-size: 40px;
	}
	.resume-upload {
		margin-left: 20px;
		font-size: 15px;
	}
	.job-apply {
		margin: 10px 0 20px 0;
		height: 40px;
		font-size: 20px;
	}
	.job-apply::placeholder {
		font-size: 15px;
		top: 50%;
		transform: translateY(-20%);
	}
	.apply-submit {
		width: 20vh;
		display: block;
		margin: 20px auto auto;
		font-size: 18px;
	}
	.job-apply-text {
		font-size: 18px;
	}
	.no-jobs-available {
		margin: auto;
	}
	
}
