@font-face {
	font-family: 'SFNSText Bold';
	src: url('./Assets/fonts/San Francisco/otf/SFNSText-Bold.otf') format('woff');
}
@font-face {
	font-family: 'SFNSText Regular';
	src: url('./Assets/fonts/San Francisco/otf/SFNSText-Light.otf')
		format('woff');
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
	--hero-background-color: #f8f8f1;
	--btn-color: #f57f42;
	--main-font-color: #000000;
	--bold-font: 'SFNSText Bold';
	--main-font: 'SFNSText Regular';
	--container-width: 126rem;
	--num-of-grid-columns: 4;
	--footer-grid-columns: 6;
	--num-of-s2-grid-columns: 4;
	--off-white-clr: #fff;
	--main-modal-bg-color: #000000;
}
html {
	scroll-behavior: smooth;
}
body {
	font-family: var(--main-font);
}
a {
	text-decoration: none;
	display: inline-block;
}
p {
	line-height: 1.5;
	font-weight: 500;
}
img {
	max-width: 100%;
	display: block;
}
section {
	padding: 4rem 0 4rem 0;
}
.check-size {
	font-size: 1.3rem;
	color: green;
	margin: 0.5rem 0;
}
.container {
	max-width: var(--container-width);
	width: 80%;
	margin: auto;
}
/*hero*/
.main-logo {
	height: 50px;
	margin: auto;
}
.check {
	display: inline-block;
}
.hero {
}
.row {
	display: grid;
	grid-template-columns: repeat(var(--num-of-grid-columns), 1fr);
	grid-gap: 2rem;
}
.grid-image {
	grid-column: span 4;
}
.title-group {
	grid-column: span 4;
}
.hero {
	padding: 0 0 4rem 0;
	background-color: var(--hero-background-color);
}
.main-header {
	height: 4rem;
	padding: 2.5rem 2rem;
}
.main-nav {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.nav-list {
	display: none;
}
.nav-items-right > div {
	display: none;
}
.hero-btn-grp {
	text-align: center;
}
.hero-btn {
	background-color: var(--btn-color);
	width: 100%;
	padding: 20px;
	border-radius: 0.5rem;
	margin-top: 1rem;
	color: var(--off-white-clr);
	font-size: 1rem;
}
.title-group h2 {
	font-family: var(--bold-font);
	font-size: 1.6rem;
	font-weight: 800;
	margin-bottom: 1rem;
}
.title-group p {
	font-size: 1rem;
	margin-bottom: 1rem;
	line-height: 1.5;
}
.hero-example-btn {
	margin: 1rem;
	color: var(--btn-color);
	border-bottom: 1px solid var(--btn-color);
	font-size: 1rem;
	font-weight: 800;
}
/*section2*/
.s2-tcolor {
	color: var(--btn-color);
	font-family: var(--bold-font);
}
.s2-grid {
	display: grid;
	margin-top: 3rem;
	grid-template-columns: repeat(var(--num-of-s2-grid-columns), 1fr);
	grid-gap: 2rem;
}
.s2-block {
	grid-column: span 4;
}
.s2-grid-img {
	margin-bottom: 1rem;
}
.s2-grid-title {
	margin-bottom: 1rem;
	font-family: var(--bold-font);
	font-size: 1rem;
	font-weight: 800;
}
.s2-grid-text {
	font-size: 1rem;
	font-weight: 100;
	line-height: 1.4;
}
/*section 3*/
.section-3 {
	padding: 3rem 0 0 0;
	background-color: #f9a33d;
	color: #000;
	border-radius: 1rem;
	margin-bottom: 2rem;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.s3-button {
	text-align: center;
	width: 100%;
	padding: 15px;
	border-radius: 0.5rem;
	margin-top: 1rem;
	color: var(--btn-color);
	font-size: 1rem;
	font-weight: 800;
	background-color: var(--off-white-clr);
}
.s3-grid {
	display: grid;
	grid-template-columns: repeat(var(--num-of-grid-columns), 1fr);
	grid-gap: 4rem;
}
.s3-grid-item {
	grid-column: span 4;
}
.s3-img {
	width: 300px;
	height: 300px;
	object-fit: cover;
	border-radius: 1rem 1rem 0 0;
}
.s3-container {
	width: 80%;
	margin: auto;
}
/*section 4*/
.s4-name {
	line-height: 1.4;
	margin-left: 1rem;
}
.s4-grid {
	display: grid;
	grid-gap: 2rem;
	grid-template-columns: repeat(var(--num-of-s2-grid-columns), 1fr);
	margin-top: 2rem;
}

.s4-img-grid {
	display: grid;
	grid-template-columns: 25% 75%;
	line-height: 1rem;
	color: var(--off-white-clr);
}
.s4-img-grid > img {
	font: 1rem;
	grid-column: span 1;
}
.s4-grid-item > * {
	margin: 1rem;
}
.s4-grid-item {
	grid-column: span 4;
	border-radius: 0.4rem;
	border: 1px solid grey;
	padding: 1rem;
}
.s4-button {
	border: 1px solid grey;
	padding: 1rem;
	text-align: center;
	color: var(--btn-color);
	font-family: var(--bold-font);
	font-size: 1rem;
	font-weight: 800;
	border-radius: 0.4rem;
}

/*footer*/
.main-footer {
	background-color: var(--hero-background-color);
	padding: 4rem 0 4rem 0;
}
.footer-grid {
	display: grid;
	grid-gap: 2rem;
	grid-template-columns: repeat(var(--footer-grid-columns), 1fr);
}
.footer-grid-item {
	/* grid-column: span 6; */
}
.footer-group > h3 {
	font-family: var(--bold-font);
	font-size: 1.5rem;
	font-weight: 800;
	margin-bottom: 1rem;
}
.footer-group > p {
	font-size: 1rem;
	margin-bottom: 1rem;
	line-height: 1.6;
}
.grid1 {
	grid-column: 1/2;
	text-align: center;
}
.logo {
	height: 90px;
	margin: auto;
}
.social-links > a > i {
	font-size: 2rem;
	color: var(--btn-color);
}
.social-links > a {
	padding: 1rem;
}
.contact-input {
	margin: 2rem 0;
	position: relative;
}
.contact-input i {
	position: absolute;
	right: 5%;
	font-size: 2rem;
	top: 15%;
	color: var(--btn-color);
}
.contact-input > input {
	padding: 0.8rem;
	width: 100%;
}
/*gallery*/
.gallery-grid {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-gap: 2rem;
}
.gallery-text,
.gallery-slide {
	grid-column: span 6;
}
.gallery-text {
	display: flex;
	align-items: center;
	justify-content: center;
}
.padding {
	padding: 1rem;
	border-left: 1px solid white;
	color: var(--off-white-clr);
}
.facebook {
	background-color: #3b5998;
}
.twitter {
	background-color: #307fe3;
}
.instagram {
	background: linear-gradient(
		45deg,
		#f09433 0%,
		#e6683c 25%,
		#dc2743 50%,
		#cc2366 75%,
		#bc1888 100%
	);
}

/*.......*/
/*Business*/
/*........*/

.business-img {
	background-color: #000;
	position: relative;
	transition: 0.4s ease-out;
}
.business-img:hover,
.business-img:focus {
	-webkit-transform: translateY(20px);
	transform: translateY(20px);
}
.hover-content {
	position: absolute;
	top: 0%;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: 0.5s ease;
	background-color: #000;
	z-index: 500;
}
.business-img:hover .hover-content {
	opacity: 0.7;
}
/*modal start*/
.business-brandPopup {
	height: 50%;
	width: 0%;
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
	background-color: var(--main-modal-bg-color);
	opacity: 0.9;
	overflow-x: hidden;
	transition: 0.5s;
}

.business-brandPopup-content {
	position: relative;
	top: 25%;
	width: 100%;
	text-align: center;
	margin-top: 30px;
	color: white;
}

.business-brandPopup a {
	padding: 8px;
	text-decoration: none;
	font-size: 36px;
	color: white;
	display: block;
	transition: 0.3s;
	margin-bottom: 1.4rem;
}

.business-brandPopup a:hover,
.business-brandPopup a:focus {
	color: white;
}

.business-brandPopup-closebtn {
	position: absolute;
	cursor: pointer;
	top: 20px;
	right: 45px;
	font-size: 60px;
}
/*modale ends*/
.hover-content h3 {
	font-size: 1.2rem;
	color: #fff;
	position: absolute;
	top: 60%;
	left: 15%;
}
.hover-content button {
	font-size: 1.3rem;
	padding: 0.5rem;
	border-radius: 0.4rem;
	color: black;
	background-color: #fff;
	position: absolute;
	top: 75%;
	left: 15%;
}
.center {
	place-items: center;
}
.business-grid {
	display: grid;
	grid-gap: 2rem;
	grid-template-columns: repeat(var(--num-of-s2-grid-columns), 1fr);
	margin-top: 2rem;
}

.business-grid-item > * {
	margin: 0.5rem;
}
.business-grid-item {
	grid-column: span 4;
	border: 1px solid grey;
}
/*..........*/
/*aboutus...*/
/*..........*/

.team-grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.team-grid-item {
	border: 5px solid var(--btn-color);
	padding: 0.2rem;
	border-radius: 0.3rem;
	margin: 1rem;
	position: relative;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.team-card {
	position: relative;
	overflow: hidden;
	z-index: 400;
}
.team-hover {
	position: absolute;
	bottom: -50px;
	left: 0;
	right: 0;
	height: 40%;
	width: 100%;
	text-align: center;
	background-color: rgba(245, 127, 66, 0.75);
	z-index: 500;
	transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.team-card > * {
	color: white;
}
.team-card h3 {
	margin-top: 1.2rem;
}
.team-card p {
	margin-top: 0.3rem;
}
.team-card .hidden {
	margin-top: 0.5rem;
}

.team-card:hover .team-hover,
.team-card:focus .team-hover {
	bottom: 0;
}

.team-card .hidden h4 {
	/* margin-top: 4.5rem; */
}
.team-card .hidden p {
	/* margin-top: 6rem; */
}

@media screen and (min-width: 768px) {
	:root {
		--hero-background-color: #f8f8f1;
		--btn-color: #f57f42;
		--main-font-color: #000000;
		--bold-font: 'SFNSText Bold';
		--main-font: 'SFNSText Regular';
		--container-width: 126rem;
		--num-of-grid-columns: 8;
		--off-white-clr: #fff;
		--num-of-s2-grid-columns: 12;
	}
	.main-header {
		height: 4rem;
		padding: 4rem 4rem;
	}
	.main-logo {
		height: 70px;
		margin: auto;
	}
	.row {
		margin-top: 3rem;
	}
	.row .grid-image {
		order: 2;
	}
	.row .title-group {
		order: 1;
		margin-top: 7rem;
	}
	.title-group h2 {
		font-family: var(--bold-font);
		font-size: 3rem;
		font-weight: 800;
		margin-bottom: 1rem;
	}
	.grid1 {
		grid-column: span 3;
	}
	.contact-input > input {
		padding: 0.8rem;
		width: 60%;
	}
	.contact-input i {
		position: absolute;
		right: 25%;
		font-size: 2rem;
		top: 15%;
		color: var(--btn-color);
	}
	.title-group p {
		font-size: 1rem;
		margin-bottom: 1rem;
		line-height: 1.5;
	}
	.hero-btn {
		background-color: var(--btn-color);
		width: 40%;
		text-align: center;
		padding: 20px;
		border-radius: 0.5rem;
		margin-top: 1rem;
		color: var(--off-white-clr);
		font-size: 1rem;
	}
	.hero-btn-grp {
		text-align: left;
		margin-bottom: 1.5rem;
	}
	.check {
		display: flex;
	}
	.check > div {
		padding-right: 1rem;
	}
	.s3-button {
		text-align: center;
		width: 40%;
	}
	.s3-img {
		width: 600px;
		height: 300px;
		object-fit: cover;
		border-radius: 1rem 1rem 0 0;
	}
	.nav-list {
		display: flex;
		list-style: none;
		justify-content: space-evenly;
		margin: auto;
		width: 100%;
	}
	.nav-list > li {
		padding: 0 2rem 0 2rem;
		font-family: var(--main-font);
		font-size: 1rem;
		font-weight: 800;
		color: #000000;
	}
	.mobile-toggle,
	.nav-items-right {
		display: none;
	}
	.nav-items-right > div {
		display: inline;
		font-family: var(--main-font);
		font-size: 1rem;
		padding: 0 1rem 0 1rem;
		font-weight: 800;
	}
	.sign-btn {
		padding: 0.8rem;
		background-color: var(--btn-color);
		color: var(--off-white-clr);
		border-radius: 3rem;
	}
	.gallery-text {
		grid-column: span 3;
	}
	.gallery-slide {
		grid-column: span 3;
	}
	.slider-img {
		height: 300px;
	}
	.order1 {
		order: 2;
	}
	.order2 {
		order: 1;
	}
	.team-img {
		height: 300px;
		width: 200px;
		margin: auto;
	}
	/*business*/
	.business-grid-item {
		grid-column: span 3;
		border-radius: 0.4rem;
		border: 1px solid grey;
	}
	.team-grid-item {
		grid-column: span 1;
	}
	.team-grid-item {
		flex: 0 0 calc(22.66% - 20px);
		border: 5px solid var(--btn-color);
		border-radius: 0.3rem;
		margin: 1rem;
	}
	.team-card h3 {
		font-size: 0.8rem;
		/* margin-top: 1rem; */
	}
	.team-card p {
		/* margin-top: 2rem; */
		font-size: 0.6rem;
	}

	.hidden:hover {
		display: block;
	}
	.team-card .hidden h4 {
		/* margin-top: 3rem; */
		font-size: 0.6rem;
	}
	.team-card .hidden p {
		/* margin-top: 4rem; */
	}
}

@media screen and (max-width: 768px) {
	.footer-grid-item {
		grid-column: span 6;
	}
}

@media screen and (min-width: 1024px) {
	.team-card h3 {
		/* margin-top: 1.5rem; */
		font-size: 1.2rem;
	}
	.team-card p {
		/* margin-top: 3rem; */
		font-size: 1rem;
	}

	.team-card .hidden h4 {
		/* margin-top: 4.5rem; */
		font-size: 1rem;
	}
	.team-card .hidden p {
		/* margin-top: 6rem; */
		font-size: 1rem;
	}
}
