/* ----------------------------------------- */
/*     Global Styles (Resets and others)     */
/* ----------------------------------------- */

@import url("https://fonts.googleapis.com/css?family=Cardo:400i|Rubik:400,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Poppins&display=swap');

@font-face {
    font-family: 'SFNS regular';
    src: url('/fonts/SFNSDisplay-Regular.otf');
}

/* Change or add colours here. */

:root {
    --main-bg-color: #ffffffc2;
    --main-text-color: rgba(32, 33, 32, 0.8); /* verified */
    --main-footer-color: white; /* verified */
    --main-footer-text: rgba(32, 33, 32, 0.8); /* verified */
    --main-navbar-color: #fff; /* verified */
    --main-navbar-text-color: #000; /* verified */
    --main-logo-orange-color: #F9A33D; /* verified */
    --main-modal-bg-color: #000000;
    --main-card-bg: #155c89;
    --d: 700ms;
    --e: cubic-bezier(0.19, 1, 0.22, 1);
    --font-sans: 'SFNS regular', sans-serif;
    --font-serif: 'Cardo', serif;
}


*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: var(--font-sans);
    font-size: 10px;
}

header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    transition: background-color .5s ease;
    z-index: 1000;
}

.container{
    width: 100%;
    max-width: 120rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}

.nav{
    width: 100%;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid rgba(255,255,255,.05);
    transition: height .5s ease;
}

.nav a{
    text-decoration: none;
    color: #fff;
    font-size: 1.6rem;
}

.logo{
    height:50px;
}

.nav-list{
    list-style: none;
    display: none;
    margin-right: auto;
    margin-left: 4rem;
}

.nav-link{
    margin: 0 2rem;
    position: relative;
}

.nav-link::after{
    content: '';
    width: 100%;
    height: 2px;
    background-color: #fff;
    position: absolute;
    left: 0;
    bottom: -3px;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .5s ease;
}

.nav-link:hover::after{
    transform: scaleX(1);
}

#nav-cta{
    display: inline-block;
    background-color: #fff;
    color: #313131;
    padding: 1rem 2rem;
    border-radius: 2rem;
    transition: background-color .5s ease;
}

#nav-cta:hover{
    background-color: #d3d3d3;
}


/*Apply styles after scroll*/
.scrolling-active{
    background-color: #fff;
    box-shadow: 0 3px 1rem rgba(0,0,0,.1);
}

.scrolling-active .nav{
    height: 6.6rem;
}

.scrolling-active .nav a{
    color: #313131;
}
.scrolling-active .nav .mobile-toggle .btn-open{
    color: #313131;
}
.scrolling-active #nav-cta{
    background-color: #313131;
    color: #fff;
}

.scrolling-active #nav-cta:hover{
    background-color: #151515;
}

.scrolling-active .nav-link::after{
    background-color: #313131;
}

/*Apply styles after scroll end*/


/* Hero Demo Content*/
.hero{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: relative;
}

.hero::after{
    content: '';
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right:0;
    opacity: .2;
    z-index: -1;  
}

.demo-content{
    width: 100%;
    height: 200vh;
    background-color: #fff;
}
.btn-open, .btn-close{
    color: #fff;
    font-size: 3rem;
}
.mobile-toggle .btn-close{
    display: none;
}
.banner-container{
    position: relative;
    color: white;
}
.hero-text{
    position: absolute;
    top: 30%;
    left: 50%;
    width:70%;
    transform: translate(-50%, -30%);
}
.hero-text h1{
    font-size:3rem;
    margin-bottom:1rem;
}
.hero-text p{
    font-size: 1.5rem;
    line-height:2.2wrem;
}
/* Hero end*/